h1 {
    text-align: center;
    border-bottom: dotted;
}

.nav-item {
    border-bottom: dotted;
    height: 50px;
}

/*.containerCustomL {
    border: dotted;
    margin-right: 50%;
    margin-top: 15px;
    height: 500px;
    text-align: center;
    background-color: cornflowerblue;
}

.containerCustomR {
    display: flex;
    justify-content: start;
    border: dotted;
    margin-left: 50%;
    height: 500px;
    background-color: red;
}*/

.col {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin: 1px;
    width: 100%;
}

/*.row {
    display: flex;
    justify-content: space-between;
}*/

.columnLeft, .columnRight {
    border: dotted;
    height: 120px;
}

.columnLeft {
    background-color: gray;
    height: 500px;
}

.columnRight {
    background-color: blue;
    height: 500px;
}


footer {
    border: dotted;
    padding: 15px;
    background-color: aquamarine;
}